/* ENCABEZADOS */
/* a=0 b=0 c=1 -> Especificidad = 1*/
h1 {font-family: Arial, Calibri, sans-serif;
	font-size: 50pt;
	color: white;
	background: maroon;
	letter-spacing: 1.2em;
	border-radius: 0.5em;
	position: relative;
	}
	
/* a=0 b=1 c=0 -> Especificidad = 10*/
h1.capitulo {font-size: 30pt;}

/* a=0 b=0 c=1 -> Especificidad = 1*/
h2, h3, h4, h5, h6 {font-family: Arial, Calibri, sans-serif; 
					font-size: 1.7em; 
					color: black;
					background: transparent;
					}
					
/* a=0 b=0 c=1 -> Especificidad = 1*/
h1, h2, h3, h4, h5, h6 {font-weight: bold; 
						text-align: center; 
						text-transform: uppercase; 
						font-size-adjust: 0.5;
						margin: 1.2em;
						padding: 0.7em;
						}

/* a=0 b=0 c=1 -> Especificidad = 1*/
h1, h3, h5 {font-stretch: expanded;}

/* a=0 b=0 c=1 -> Especificidad = 1*/
h2, h4, h6 {font-style: italic;}


/* PARRAFOS */
/* a=0 b=0 c=1 -> Especificidad = 1*/
p, ul, td, figcaption {font-family: Georgia, Garamond, "Times New Roman", serif; 
			font-size-adjust: 0.5;}
/* a=0 b=0 c=1 -> Especificidad = 1*/
p, ul, td {font-size: 16pt;}
/* a=0 b=0 c=2 -> Especificidad = 2*/
p::first-letter {font-size: 20pt;}

/* a=0 b=0 c=1 -> Especificidad = 1*/
p{text-align: justify;}

/* a=0 b=0 c=1 -> Especificidad = 1*/
figcaption { font-size: 1.2em;}

/* ENLACES */
/* a=0 b=0 c=2 -> Especificidad = 2*/
a:link {color: navy; 
		text-decoration-line: underline; 
		text-decoration-style: dotted;
		background: transparent;}
/* a=0 b=0 c=2 -> Especificidad = 2*/
a:visited {color: maroon; 
			text-decoration-line: underline; 
			text-decoration-style: solid;
			background: transparent;}

/* ESTILO LISTAS */
/* a=0 b=0 c=2 -> Especificidad = 2*/
ul li {list-style-type: square; 
		font-size: 16pt;}

/* ESTILO TABLAS */
/* a=0 b=0 c=2 -> Especificidad = 2*/
tr th {font-size: 20pt; 
		font-weight: bold;
		color: white;
		background: maroon;
		}
/* a=0 b=0 c=2 -> Especificidad = 2*/
tr td { text-align: center;
}
/* a=0 b=0 c=1 -> Especificidad = 1*/
th, td { padding: 0 15px 0 15px; 
}

/* a=0 b=1 c=0 -> Especificidad = 10*/
img.solitario { display:block;
        margin-left: auto;
        margin-right: auto;
}
/* a=0 b=1 c=0 -> Especificidad = 10*/
figcaption.solitario {
	text-align: center;
}
/* a=0 b=0 c=1 -> Especificidad = 1*/
video, audio { display: block;
		margin-left: auto;
        margin-right: auto;
}






